<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Error Page</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Groupie Tracker</h1>
        </div>
    </header>

    <main class="error-page">
        <!-- Dynamically set error code and meaning -->
        <h2>Error {{.ErrorCode}}</h2>
        <p>{{.ErrorDesc}}</p>
    </main>

    <footer>
        <p>Made by dalimbay and kmassat</p>
    </footer>
</body>
</html>
