<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Groupie Tracker</title>
</head>

<style>
    .hover-zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.hover-zoom:hover {
  transform: scale(1.1);
}
</style>

<body style = "background-color:#5363D1 ;">
    <div class="container">
        <div class="header  mt-5 justify-content-between d-flex mb-3 p-3  rounded-3" style = "background-color:#CA7FE8 ;">
            
            <a style="text-decoration: none; color: black; font-size: 24px; font-weight: bold;" href="/">Groupie tracker</a>
            <form action="/search" method="GET" class="d-flex">
                <input list="suggestions" class="form-control me-2" type="search" name="query" placeholder="Search..." aria-label="Search"> 
                <datalist id="suggestions">
                    {{if .}}
                    {{range .}}
                    <option value="{{.Name}} - artist"></option>
                    <option value="{{.FirstAlbumDate}}"></option>
                    <option value="{{.CreationDate}}"></option>
                    {{range .Members}}
                    <option value="{{.}} - member"></option>
                    {{end}}
                   
                    {{range $location, $dates := .Relations.DatesLocations}}
                                    <option value = "{{$location}}"></div>
                                {{end}}
                                {{end}}
                  </datalist>
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
    </div>
        <div class="main ">
            {{if .}}
            <div class="row ">
            {{range .}}
           
              
                    <div class="col-lg-3 col-md-6 col-sm-12 d-flex  justify-content-center "  style="background-color: #fff; " >
                        <a href="/artists?ID={{.ID}}" class="text-decoration-none  p-2" ><img src="{{.Image}}" class="m-3 mb-3 p-2 card shadow hover-zoom" alt="...">
                         <h2 class="text-dark ms-5">{{.Name}}</h2>
                     </a> 
                        
                     </div>
                
            
               
       
                     {{end}}
    </div>
    <!-- {{end}} -->
        {{else}}
        <h1>Not found</h1>
        {{end}}
    </div>
    <div class = "footer mt-5 d-flex justify-content-center  mb-3 p-3 align-items-center rounded" style = "background-color:#CA7FE8" ;>
        <p class="m-0 p-0">Made by dalimbay and kmassat</p>
    </div>
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 

</body>
</html>